.popover-section {
    position: relative;
    .popover-container {
        z-index: 10;
        position: absolute;
        right: 15px;
        width: 160px;
        background-color: black;

    }
    .popover-display-element {
        width: auto;
        position: absolute;
        right: 1px;
    }
}